#nav .hamburger-icon {
  display:none;
}

@media only screen and  (max-width : 1054px)  {
  html .section{
    width: 100%;
  }

  .entry p.childIMG,
  .entry .marctv-gallery{
    margin-left: -20px;
    margin-right: -20px;
  }

  .entry p .jqvideo img,
  .entry p img{
    width: 100%;
    margin-left: 0;
  }

}



@media only screen and  (max-width : 321px)  {

  html .header .hamburger {
    right: 5px;
  }

  html .site {
    margin-left: 5px;
    margin-right: 5px;
  }

  html .hreview .text {
    width: 100%;
  }

  html .entry p.childIMG,
  html .entry .marctv-gallery{
    margin-left: -5px;
    margin-right: -5px;
  }

  #marctv .entry p.castor, 
  #marctv .entry p.pollux {
    float: none;
    margin: 0;
    width: 100%;
  }

  html .sitetitle a {
    background-size: 240px auto;
    width: 135px;
  }

  html .sitetitle {
    width: 130px;
    margin-top: 5px;
  }

  html .header .searchbox {
    width: 60px;
    margin-top: 5px;
  }

  html .header .searchbox input {
    width: 50px;
    margin-top: 1px;
  }
  
  html .container.morph .box .title,
  html .container.double .box .title {
    font-size: 100%
  }
  
}



@media only screen and  (max-width : 600px) {

  html body {
    font: 90%/1.6 'Roboto','Lucida Grande', 'Lucida Sans Unicode', Arial, FreeSans, sans-serif;
  }

  html .lead .title{
    font-size: 120%;
  }
  
  html .hreview .text {
    width: 100%;
  }

  html .archive .nav-article .nav-next,
  html .archive .nav-article .nav-previous {
    width: 50%;
    margin-bottom: 20px;
  }
  
  html .lead {
    margin-bottom: 0;
  }

  html .lead p {
    margin-bottom: 2em;
  }


  html .entry .title {
    font-size: 170%;
  }


  html .box .title {
    font-size: 140%;
  }

  #marctv .container .box {
    width: 100%;
    float: none;
    padding: 0;
  }

  html .commentlist li {
    padding-left: 0;
  }

  html .commentlist li .vcard .avatar {
    width: 2em;
    height: 2em;
  }

  html .commentlist li .vcard {
    padding-left: 2.5em;
  }

  html .commentlist li .comment-author,
  html .commentlist .pingback .vcard {
    padding-bottom: 0.5em;
  }

  html .commentlist li .children .vcard .avatar {
    left: 1em;
  }

  html .commentlist li .children li {
    padding-left: 1em;
  }


  #marctv .container.multi .box,
  #marctv .container.double .box,
  #marctv .container.morph .box {
    width: 48%;
    border: 0;
    padding: 0 2%;
    float: left;
    font-size: 80%;
  }

  #marctv .container.multi .box:nth-child(odd),
  #marctv .container.morph .box:nth-child(odd),
  #marctv .container.double .box.first {
    margin-left: 0;
    padding-left: 0;
  }

  #marctv .container.multi .box:nth-child(even),
  #marctv .container.morph .box:nth-child(even),
  #marctv .container.double .box.last{
    margin-right: 0;
    padding-right: 0;
  }

  #marctv .container.morph .box p{
      height: 6em;
  }


}

@media only screen and  (max-width : 700px)  {
  #marctv .entry p.pollux,
  #marctv .entry p.castor,
  #marctv .entry .alignright,
  #marctv .entry .alignleft {
    float: none;
    margin: 0;
    width: 100%;
    margin-bottom: 1.5em;
  }

}

@media only screen and  (max-width : 960px)  {
  html .container.multi .box{
    width: 32%;
    border: 0;
    padding: 0 1%;
  }

  html .container.multi .box.first,
  html .container.multi .box.multi-first{
    margin-left: 0;
    padding-left: 0;
  }

  html .container.multi .box.last,
  html .container.multi .box.multi-last{
    margin-right: 0;
    padding-right: 0;
  }

}


@media only screen and (max-width : 900px) {

  html .header .searchbox {
    width: 100px;
  }

  html .header .searchbox input {
    width: 95px;

  }

  /* Hamburger Menu */

  html .header {
    margin-top: 0;
  }

  html #nav .hamburger-icon {
    background-color: #333;
    z-index: 1000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 0;
    line-height: 0;
    padding: .75rem .5rem;
    margin-top: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */

    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    border: none;
  }


  html .hamburger {
    background-color: #333;
    position: absolute;
    position: absolute;
    right: 20px;
    z-index: 100;
    display: none;
  }

  html #nav .hamburger .sub-menu {
    display: block;
    position: relative;
    background: none;
    box-shadow: none;
  }

  html #nav  li:first-child {
    display: none ! important;
  }


  html #nav .hamburger a {
    border: none;

  }

  html #nav ul {
    margin: 0;
    padding: 0.4em 0.4em 1em 0.4em;
    z-index: 1000;
  }

  html #nav ul{

  }

  html #nav .hamburger .sub-menu li a,
  html #nav .hamburger li a{
    font-size: 100%;
    color: #efefef;
    padding: 0.6em 0.6em 0.6em 0.8em;
    margin: 0;
    text-decoration: none;
    font-weight: 300;
    background: #111;
  }

  html #nav .hamburger li a:hover {

  }

  body  #nav .menu.hamburger  li:hover > a {
    background: #222;
  }

  body  #nav .menu.hamburger  li:active > a {
    background: #000;
  }

  html #nav .hamburger .sub-menu {
    padding: 0 0 0.5em 1.5em;
  }

  html #nav .hamburger li {
    float: none;
  }

  #nav .hamburger-icon {
    display:block;
  }

  html  #nav .hamburger-icon:after {
    border-color: #CCCCCC;
    border-style: solid none double;
    border-width: 2px 0 6px;
    content: " ";
    display: block;
    height: 2px;
    width: 1rem;
  }

  html .header .searchbox {
    margin-right: 4px;
  }

}

