#navigation {
  line-height:normal;
  overflow: hidden;
  float: right;
  padding-top: 3px;
}

.menu{
  margin-left: 10px;
}

#navigation ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#navigation li {
  float:left;
  margin:0;
  padding:0;

}

#navigation a {
  color: #555;
  display: block;
  font-size: 110%;
  font-weight: 300;
  line-height: 1.1;
  padding: 6px 0.5em;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}

#navigation li:last-child a{
  border-right:none;
}

#navigation > ul a {width:auto;}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#navigation a {float:none;}
/* End IE5-Mac hack */
#navigation a:hover {
  color:#333;
}
#navigation a:active{
  color: #2200C1;
}

#navigation #current,
#navigation .current-menu-item,
#navigation .current-menu-parent{
  border-width:0;
}



#navigation #current a,
#navigation .current-menu-item a,
#navigation .current-menu-parent a {
  color: #333;
  font-weight: 700;
}

#navigation #current a:hover,
#navigation .current-menu-item a:hover,
#navigation .current-menu-parent a:hover {
  color: #444;
}

#navigation #current a:active,
#navigation .current-menu-item a:active,
#navigation .current-menu-parent a:active{
  color: darkred;
}



.archive .fwd a,
.archive .rwd a{
  color:#333;
}

.archive .rwd a{
  padding-right: 10px;
}





/* Subnav */

#navigation ul li:hover > ul {
  display: block;
  margin: 0;
  padding: 0;
}

body  #navigation .menu li:hover > a,
#navigation ul ul *:hover > a {
  background: #333;
  color: #FFFFFF;
  text-decoration: none;
}

.menu .sub-menu{
  display: none; 
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
  border-radius:  0 2px 2px 2px;
  -moz-border-radius: 0 2px 2px 2px;
  -webkit-border-radius: 0 2px 2px 2px;
  -khtml-border-radius: 0 2px 2px 2px;
  -o-border-radius: 0 2px 2px 2px;

}

#navigation .menu .sub-menu{
  margin: 0;
  position: absolute;
  width: 170px;
  background-color: #333;
  z-index: 9999;
  padding: 3px 0 10px;
}

#navigation .sub-menu li{
  float: none;
  position: relative;
}


#navigation .sub-menu li a{
  border: none;
  padding: 10px 5px 6px 10px;
  font-weight: 300;
  background:none;
  color: #ccc;
  text-shadow: none;
  text-decoration: none;
  font-size: 100%;
  text-transform: inherit;
}

#navigation .sub-menu li.current-menu-item a{
  color: #eee;
}

#navigation .sub-menu li a:hover{
  color: #fff; 
}

body  #navigation #menu-mainnav .sub-menu a:hover{
  background: none;
}
