$marctv-margin: 5%;
$marctv-color: #0e7dc4;
$grey: #f3f3f3;
$black: #23282d;
$white-text: #EEEEEE;
$shade_ammount: 20;
$darkgrey: #666;
$submenu-color: shade($black,10);
$lineheight: 1.45;
$lineheight-title: 1.2;
$fonts:  'Helvetica Neue', Helvetica, Arial, sans-serif;
$fonts-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;