$marctv-margin: 5%;
$marctv-color: #0e7dc4;
$grey: #f3f3f3;
$black: #23282d;
$darkgrey: #666;
$submenu-color: shade($black,10);
$lineheight: 1.45;
$lineheight-title: 1.2;
$fonts: 'Noto Serif',Georgia, Times, 'Times New Roman', serif;
$fonts-title: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;