.alignright,
.alignright img,
.alignleft ,
.alignleft img{
  width: 200px ! important;
  height: 88px ! important;
  margin: 0;

}

.alignleft,
.alignright {
  overflow: hidden;
}

h2, h3, h4 {
  clear:both;
}