/* 
    Document   : print
    Created on : Oct 24, 2011, 3:12:10 PM
    Author     : toensing
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#nav,
#search,
.article_nav,
.flashembed,
#comments_wrapper,
#footer,
#bottom,
.snap_nopreview{ 
  display: none;
}

h1 a{
  text-indent: 0;
  background: none;
  font-size: 120%;
  white-space: nowrap;
}