/* line 1, ../../scss/modules/container.scss */
.container {
  margin-bottom: 3em;
  padding-left: 0;
  overflow: hidden;
}
/* line 6, ../../scss/modules/container.scss */
.container.bars.docked, .container.docked, .container.bars.docked .box {
  margin-bottom: 0;
}
/* line 9, ../../scss/modules/container.scss */
.container.lead .box {
  width: 100%;
}
/* line 12, ../../scss/modules/container.scss */
.container.double .box {
  width: 49%;
  margin: 0%;
  padding: 0 1%;
  border: 0;
}
/* line 19, ../../scss/modules/container.scss */
.container.multi .box {
  width: 16%;
  border: 0;
  padding: 0 0.4%;
  font-size: 80%;
}
/* line 25, ../../scss/modules/container.scss */
.container.multi .title {
  height: 1.9em;
}
/* line 29, ../../scss/modules/container.scss */
.container.morph .title {
  height: 1.9em;
}
/* line 32, ../../scss/modules/container.scss */
.container.morph .box {
  width: 32%;
  border: 0;
  padding: 0 1%;
}
/* line 36, ../../scss/modules/container.scss */
.container.morph .box.first, .container.morph .box.multi-first {
  margin-left: 0;
  padding-left: 0;
}
/* line 40, ../../scss/modules/container.scss */
.container.morph .box.last, .container.morph .box.multi-last {
  margin-right: 0;
  padding-right: 0;
}
/* line 44, ../../scss/modules/container.scss */
.container.morph .box p {
  height: 6em;
}
/* line 49, ../../scss/modules/container.scss */
.container .box {
  width: 32%;
  border: 0;
  padding: 0 1%;
}
/* line 53, ../../scss/modules/container.scss */
.container .box.first {
  margin-left: 0;
  padding-left: 0;
}
/* line 57, ../../scss/modules/container.scss */
.container .box.last {
  margin-right: 0;
  padding-right: 0;
}
