/* line 4, ../../scss/modules/container.scss */
.container {
  margin-bottom: 3em;
  padding-left: 0;
  overflow: hidden;
}
/* line 9, ../../scss/modules/container.scss */
.container .box {
  display: inline;
  float: left;
  overflow: hidden;
  display: block;
  margin-bottom: 50px;
}
/* line 17, ../../scss/modules/container.scss */
.container .box a:hover {
  color: #333333;
}
/* line 21, ../../scss/modules/container.scss */
.container .box .supertitle a:hover {
  color: #fff;
}
/* line 25, ../../scss/modules/container.scss */
.container .box p {
  margin-bottom: 2em;
}
/* line 33, ../../scss/modules/container.scss */
.container.bars.docked, .container.docked, .container.bars.docked .box {
  margin-bottom: 0;
}
/* line 36, ../../scss/modules/container.scss */
.container.lead .box {
  width: 100%;
}
/* line 39, ../../scss/modules/container.scss */
.container.double .box {
  width: 49%;
  margin: 0%;
  padding: 0 1%;
  border: 0;
}
/* line 46, ../../scss/modules/container.scss */
.container.multi .box {
  width: 16%;
  border: 0;
  padding: 0 0.4%;
  font-size: 80%;
  margin-bottom: 10px;
}
/* line 53, ../../scss/modules/container.scss */
.container.multi .title {
  height: 2em;
}
/* line 57, ../../scss/modules/container.scss */
.container.morph .title {
  height: 2em;
}
/* line 60, ../../scss/modules/container.scss */
.container.morph .box {
  width: 32%;
  border: 0;
  padding: 0 1%;
  height: 20em;
}
/* line 65, ../../scss/modules/container.scss */
.container.morph .box.first, .container.morph .box.multi-first {
  margin-left: 0;
  padding-left: 0;
}
/* line 69, ../../scss/modules/container.scss */
.container.morph .box.last, .container.morph .box.multi-last {
  margin-right: 0;
  padding-right: 0;
}
/* line 73, ../../scss/modules/container.scss */
.container.morph .box p {
  height: 6em;
}
/* line 78, ../../scss/modules/container.scss */
.container .box {
  width: 32%;
  border: 0;
  padding: 0 1%;
}
/* line 82, ../../scss/modules/container.scss */
.container .box.first {
  margin-left: 0;
  padding-left: 0;
}
/* line 86, ../../scss/modules/container.scss */
.container .box.last {
  margin-right: 0;
  padding-right: 0;
}
