/* article */
/* line 5, ../../scss/modules/entry.scss */
.entry.section {
  overflow: initial;
}

/* line 8, ../../scss/modules/entry.scss */
.entry {
  overflow: visible;
  font-size: 110%;
}
/* line 12, ../../scss/modules/entry.scss */
.entry cite {
  font-style: italic;
  color: #666666;
  display: block;
}
/* line 18, ../../scss/modules/entry.scss */
.entry dd {
  margin-left: 2em;
  margin-bottom: 2em;
  color: #666666;
}
/* line 24, ../../scss/modules/entry.scss */
.entry dt {
  border-bottom: 1px solid #666666;
}
/* line 28, ../../scss/modules/entry.scss */
.entry .wp-caption-text, .entry .pictext {
  font-size: 85%;
  font-style: italic;
  text-align: center;
  color: #333333;
  padding: 0 0.5em 0.4em;
  display: block;
}
/* line 36, ../../scss/modules/entry.scss */
.entry .wp-caption {
  margin: 0;
  background: #f3f3f3;
}
/* line 40, ../../scss/modules/entry.scss */
.entry .title {
  font-size: 260%;
  font-weight: 700;
  margin-top: 0.5em;
}
/* line 46, ../../scss/modules/entry.scss */
.entry p, .entry ul, .entry ol, .entry .video, .entry .marctv-gallery, .entry .figure {
  margin-bottom: 1.5em;
}
/* line 50, ../../scss/modules/entry.scss */
.entry ol li, .entry ul li {
  margin-bottom: 0.5em;
}
/* line 54, ../../scss/modules/entry.scss */
.entry blockquote p {
  font-size: 120%;
  color: #333;
  font-family: Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
}
/* line 60, ../../scss/modules/entry.scss */
.entry blockquote p a {
  color: #666;
}
/* line 64, ../../scss/modules/entry.scss */
.entry blockquote {
  border-left: 2px solid #333333;
  padding-left: 0.5em;
}
/* line 69, ../../scss/modules/entry.scss */
.entry blockquote cite:before {
  content: " — ";
}
/* line 73, ../../scss/modules/entry.scss */
.entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
  margin-bottom: 0.3em;
  clear: both;
}
/* line 77, ../../scss/modules/entry.scss */
.entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
  font-size: 140%;
  font-weight: 700;
  margin-top: 2em;
}
/* line 82, ../../scss/modules/entry.scss */
.entry h3 {
  font-size: 115%;
}
/* line 85, ../../scss/modules/entry.scss */
.entry ul {
  list-style: square;
  margin-left: 1.1em;
}
/* line 89, ../../scss/modules/entry.scss */
.entry ol {
  list-style: decimal;
  margin-left: 1.5em;
}
/* line 94, ../../scss/modules/entry.scss */
.entry .gallery-item {
  float: left;
  margin-right: 0.3%;
  width: 33%;
}
/* line 100, ../../scss/modules/entry.scss */
.entry .js .gallery-item {
  float: none;
  margin-right: 0;
}
/* line 105, ../../scss/modules/entry.scss */
.entry .alignright {
  float: right;
  margin: 0.3em 0 0.5em 1em;
  width: 33%;
  padding: 0;
}
/* line 112, ../../scss/modules/entry.scss */
.entry .alignleft {
  float: left;
  padding: 0;
  margin: 0.3em 1em 0.5em 0 !important;
  width: 33%;
}

/* line 121, ../../scss/modules/entry.scss */
.tools {
  border-top: 1px solid #333333;
  padding-top: 0.5em;
  margin-bottom: 1em;
  color: #666666;
  font: 90%/1.6 "Roboto", "Lucida Grande", "Lucida Sans Unicode", Arial, FreeSans, sans-serif;
}
/* line 129, ../../scss/modules/entry.scss */
.tools .hlist {
  font-size: 90%;
  list-style: none;
  margin: 0;
  overflow: hidden;
  margin: 0;
}
/* line 141, ../../scss/modules/entry.scss */
.tools .nav-article-tool {
  overflow: hidden;
}
/* line 145, ../../scss/modules/entry.scss */
.tools a {
  color: #666666;
}
/* line 149, ../../scss/modules/entry.scss */
.tools .breadcrumb span {
  font-style: italic;
}
/* line 153, ../../scss/modules/entry.scss */
.tools li {
  margin-bottom: 0.5em;
}

/* line 164, ../../scss/modules/entry.scss */
body:not(.artdirected) .entry .inner .figure:not(.alignright):not(.alignleft),
body:not(.artdirected) .entry .inner .marctv-gallery {
  margin-left: -60px;
  margin-right: -60px;
}
@media screen and (max-width: 600px) {
  /* line 164, ../../scss/modules/entry.scss */
  body:not(.artdirected) .entry .inner .figure:not(.alignright):not(.alignleft),
  body:not(.artdirected) .entry .inner .marctv-gallery {
    margin-left: 0;
    margin-right: 0;
  }
}
