@media only screen and (max-width: 321px) {
  /* line 7, ../../scss/modules/lt320.scss */
  html .header #navigation .hamburger {
    right: 5px;
  }
  /* line 14, ../../scss/modules/lt320.scss */
  html .site {
    margin-left: 5px;
    margin-right: 5px;
  }
  /* line 19, ../../scss/modules/lt320.scss */
  html .hreview .text {
    width: 100%;
  }
  /* line 24, ../../scss/modules/lt320.scss */
  html .container.morph .box .title,
  html .container.double .box .title {
    font-size: 100%;
  }

  /* line 31, ../../scss/modules/lt320.scss */
  #marctv .entry .alignright,
  #marctv .entry .alignleft {
    float: none;
    margin: 0;
    width: 100%;
  }
}
