@media only screen and (max-width: 600px) {
  /* line 4, ../../scss/modules/lt600.scss */
  html body {
    font: 90%/1.6 "Roboto", "Lucida Grande", "Lucida Sans Unicode", Arial, FreeSans, sans-serif;
  }
  /* line 7, ../../scss/modules/lt600.scss */
  html .lead .title {
    font-size: 120%;
  }
  /* line 10, ../../scss/modules/lt600.scss */
  html .hreview .text {
    width: 100%;
  }

  /* line 14, ../../scss/modules/lt600.scss */
  #marctv .article-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  /* line 20, ../../scss/modules/lt600.scss */
  html .archive .nav-article .nav-next, html .archive .nav-article .nav-previous {
    width: 50%;
    margin-bottom: 20px;
  }
  /* line 25, ../../scss/modules/lt600.scss */
  html .lead {
    margin-bottom: 0;
  }
  /* line 27, ../../scss/modules/lt600.scss */
  html .lead p {
    margin-bottom: 2em;
  }
  /* line 31, ../../scss/modules/lt600.scss */
  html .entry .title {
    font-size: 170%;
  }
  /* line 34, ../../scss/modules/lt600.scss */
  html .box .title {
    font-size: 140%;
  }

  /* line 38, ../../scss/modules/lt600.scss */
  #marctv .container .box {
    width: 100%;
    float: none;
    padding: 0;
  }

  /* line 46, ../../scss/modules/lt600.scss */
  html .commentlist .comment-meta a:first-child:before {
    content: "# ";
  }
  /* line 49, ../../scss/modules/lt600.scss */
  html .commentlist .comment-meta span {
    display: none;
  }
  /* line 53, ../../scss/modules/lt600.scss */
  html .commentlist li {
    border-top: 1px dotted #333333;
    padding-left: 0;
  }
  /* line 56, ../../scss/modules/lt600.scss */
  html .commentlist li .vcard {
    padding-left: 2.5em;
  }
  /* line 57, ../../scss/modules/lt600.scss */
  html .commentlist li .vcard .avatar {
    width: 2em;
    height: 2em;
  }
  /* line 63, ../../scss/modules/lt600.scss */
  html .commentlist li .comment-author {
    padding-bottom: 0.5em;
  }
  /* line 67, ../../scss/modules/lt600.scss */
  html .commentlist .pingback .vcard {
    padding-bottom: 0.5em;
  }
  /* line 70, ../../scss/modules/lt600.scss */
  html .commentlist li .children {
    background-image: url("images/left-stroke.gif");
    background-repeat: repeat-y;
  }
  /* line 75, ../../scss/modules/lt600.scss */
  html .commentlist li .children .vcard .avatar {
    left: 1em;
  }
  /* line 78, ../../scss/modules/lt600.scss */
  html .commentlist li .children li {
    padding-left: 1em;
  }

  /* line 84, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box {
    height: 13em;
  }
  /* line 87, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box, #marctv .container.double .box, #marctv .container.morph .box {
    width: 48%;
    border: 0;
    padding: 0 2%;
    float: left;
    font-size: 80%;
  }
  /* line 94, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box:nth-child(odd), #marctv .container.morph .box:nth-child(odd), #marctv .container.double .box.first {
    margin-left: 0;
    padding-left: 0;
  }
  /* line 98, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box:nth-child(even), #marctv .container.morph .box:nth-child(even), #marctv .container.double .box.last {
    margin-right: 0;
    padding-right: 0;
  }
  /* line 102, ../../scss/modules/lt600.scss */
  #marctv .container.morph .box p {
    height: 6em;
  }
}
