@media only screen and (max-width: 700px) {
  /* line 3, ../../scss/modules/lt700.scss */
  #marctv .entry .alignright,
  #marctv .entry .alignleft {
    float: none;
    margin: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 1.5em;
  }
}
