@media only screen and (max-width: 900px) {
  /* line 3, ../../scss/modules/lt900.scss */
  html .header .searchbox {
    width: 100px;
  }

  /* line 7, ../../scss/modules/lt900.scss */
  html .header .searchbox input {
    width: 95px;
  }

  /* line 12, ../../scss/modules/lt900.scss */
  html #navigation {
    padding-top: 0;
  }

  /* line 16, ../../scss/modules/lt900.scss */
  html .header .searchbox {
    padding-top: 1px;
  }

  /* Hamburger Menu */
  /* line 22, ../../scss/modules/lt900.scss */
  html .header {
    margin-top: 0;
  }

  /* line 26, ../../scss/modules/lt900.scss */
  html #navigation .hamburger-icon {
    background-color: #333;
    z-index: 1000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 0;
    line-height: 0;
    padding: 0.75rem 0.5rem;
    margin-top: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    border: none;
  }

  /* line 46, ../../scss/modules/lt900.scss */
  html .hamburger {
    background-color: #333;
    position: absolute;
    position: absolute;
    right: 20px;
    z-index: 100;
    display: none;
  }

  /* line 55, ../../scss/modules/lt900.scss */
  html #navigation .hamburger .sub-menu {
    display: block;
    position: relative;
    background: none;
    box-shadow: none;
  }

  /* line 62, ../../scss/modules/lt900.scss */
  html #navigation li:first-child {
    display: none !important;
  }

  /* line 67, ../../scss/modules/lt900.scss */
  html #navigation .hamburger a {
    border: none;
  }

  /* line 72, ../../scss/modules/lt900.scss */
  html #navigation ul {
    margin: 0;
    padding: 0.4em 0.4em 1em 0.4em;
    z-index: 1000;
  }

  /* line 83, ../../scss/modules/lt900.scss */
  html #navigation .hamburger .sub-menu li a,
  html #navigation .hamburger li a {
    font-size: 100%;
    color: #efefef;
    padding: 0.6em 0.6em 0.6em 0.8em;
    margin: 0;
    text-decoration: none;
    font-weight: 300;
    background: #111;
  }

  /* line 97, ../../scss/modules/lt900.scss */
  body #navigation .menu.hamburger li:hover > a {
    background: #222;
  }

  /* line 101, ../../scss/modules/lt900.scss */
  body #navigation .menu.hamburger li:active > a {
    background: #000;
  }

  /* line 105, ../../scss/modules/lt900.scss */
  html #navigation .hamburger .sub-menu {
    padding: 0 0 0.5em 1.5em;
  }

  /* line 109, ../../scss/modules/lt900.scss */
  html #navigation .hamburger li {
    float: none;
  }

  /* line 113, ../../scss/modules/lt900.scss */
  #navigation .hamburger-icon {
    display: block;
  }

  /* line 117, ../../scss/modules/lt900.scss */
  html #navigation .hamburger-icon:after {
    border-color: #CCCCCC;
    border-style: solid none double;
    border-width: 2px 0 6px;
    content: " ";
    display: block;
    height: 2px;
    width: 1rem;
  }

  /* line 127, ../../scss/modules/lt900.scss */
  html .header .searchbox {
    margin-right: 4px;
  }
}
