@media only screen and (max-width: 960px) {
  /* line 2, ../../scss/modules/lt960.scss */
  html .container.multi .box {
    width: 32%;
    border: 0;
    padding: 0 1%;
  }

  /* line 9, ../../scss/modules/lt960.scss */
  html .container.multi .box.first,
  html .container.multi .box.multi-first {
    margin-left: 0;
    padding-left: 0;
  }

  /* line 15, ../../scss/modules/lt960.scss */
  html .container.multi .box.last,
  html .container.multi .box.multi-last {
    margin-right: 0;
    padding-right: 0;
  }
}
