/* line 3, ../../scss/modules/mediaqueries.scss */
#navigation .hamburger-icon {
  display: none;
}

@media only screen and (max-width: 1054px) {
  /* line 8, ../../scss/modules/mediaqueries.scss */
  html .section {
    width: 100%;
  }
}
@media only screen and (max-width: 321px) {
  /* line 7, ../../scss/modules/lt320.scss */
  html .header #navigation .hamburger {
    right: 5px;
  }
  /* line 14, ../../scss/modules/lt320.scss */
  html .site {
    margin-left: 5px;
    margin-right: 5px;
  }
  /* line 19, ../../scss/modules/lt320.scss */
  html .hreview .text {
    width: 100%;
  }
  /* line 24, ../../scss/modules/lt320.scss */
  html .container.morph .box .title,
  html .container.double .box .title {
    font-size: 100%;
  }

  /* line 31, ../../scss/modules/lt320.scss */
  #marctv .entry .alignright,
  #marctv .entry .alignleft {
    float: none;
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  /* line 4, ../../scss/modules/lt600.scss */
  html body {
    font: 90% / 1.6 "Roboto", "Lucida Grande", "Lucida Sans Unicode", Arial, FreeSans, sans-serif;
  }
  /* line 7, ../../scss/modules/lt600.scss */
  html .lead .title {
    font-size: 120%;
  }
  /* line 10, ../../scss/modules/lt600.scss */
  html .hreview .text {
    width: 100%;
  }

  /* line 14, ../../scss/modules/lt600.scss */
  #marctv .article-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  /* line 20, ../../scss/modules/lt600.scss */
  html .archive .nav-article .nav-next, html .archive .nav-article .nav-previous {
    width: 50%;
    margin-bottom: 20px;
  }
  /* line 25, ../../scss/modules/lt600.scss */
  html .lead {
    margin-bottom: 0;
  }
  /* line 27, ../../scss/modules/lt600.scss */
  html .lead p {
    margin-bottom: 2em;
  }
  /* line 31, ../../scss/modules/lt600.scss */
  html .entry .title {
    font-size: 170%;
  }
  /* line 34, ../../scss/modules/lt600.scss */
  html .box .title {
    font-size: 140%;
  }

  /* line 38, ../../scss/modules/lt600.scss */
  #marctv .container .box {
    width: 100%;
    float: none;
    padding: 0;
  }

  /* line 46, ../../scss/modules/lt600.scss */
  html .commentlist .comment-meta a:first-child:before {
    content: "# ";
  }
  /* line 49, ../../scss/modules/lt600.scss */
  html .commentlist .comment-meta span {
    display: none;
  }
  /* line 53, ../../scss/modules/lt600.scss */
  html .commentlist li {
    border-top: 1px dotted #333;
    padding-left: 0;
  }
  /* line 56, ../../scss/modules/lt600.scss */
  html .commentlist li .vcard {
    padding-left: 2.5em;
  }
  /* line 57, ../../scss/modules/lt600.scss */
  html .commentlist li .vcard .avatar {
    width: 2em;
    height: 2em;
  }
  /* line 63, ../../scss/modules/lt600.scss */
  html .commentlist li .comment-author {
    padding-bottom: 0.5em;
  }
  /* line 67, ../../scss/modules/lt600.scss */
  html .commentlist .pingback .vcard {
    padding-bottom: 0.5em;
  }
  /* line 70, ../../scss/modules/lt600.scss */
  html .commentlist li .children {
    background-image: url("images/left-stroke.gif");
    background-repeat: repeat-y;
  }
  /* line 75, ../../scss/modules/lt600.scss */
  html .commentlist li .children .vcard .avatar {
    left: 1em;
  }
  /* line 78, ../../scss/modules/lt600.scss */
  html .commentlist li .children li {
    padding-left: 1em;
  }

  /* line 84, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box {
    height: 13em;
  }
  /* line 87, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box, #marctv .container.double .box, #marctv .container.morph .box {
    width: 48%;
    border: 0;
    padding: 0 2%;
    float: left;
    font-size: 80%;
  }
  /* line 94, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box:nth-child(odd), #marctv .container.morph .box:nth-child(odd), #marctv .container.double .box.first {
    margin-left: 0;
    padding-left: 0;
  }
  /* line 98, ../../scss/modules/lt600.scss */
  #marctv .container.multi .box:nth-child(even), #marctv .container.morph .box:nth-child(even), #marctv .container.double .box.last {
    margin-right: 0;
    padding-right: 0;
  }
  /* line 102, ../../scss/modules/lt600.scss */
  #marctv .container.morph .box p {
    height: 6em;
  }
}
@media only screen and (max-width: 700px) {
  /* line 3, ../../scss/modules/lt700.scss */
  #marctv .entry .alignright,
  #marctv .entry .alignleft {
    float: none;
    margin: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 1.5em;
  }
}
@media only screen and (max-width: 900px) {
  /* line 7, ../../scss/modules/lt900.scss */
  html #marctv .container.multi .box {
    height: 13em;
  }
  /* line 11, ../../scss/modules/lt900.scss */
  html .sitelogo {
    width: 130px;
    margin-top: 5px;
  }
  /* line 12, ../../scss/modules/lt900.scss */
  html .sitelogo a {
    background-size: 120px auto;
    width: 135px;
    margin-top: 3px;
  }
  /* line 22, ../../scss/modules/lt900.scss */
  html .searchbox {
    width: 60px;
    margin-top: 5px;
  }
  /* line 23, ../../scss/modules/lt900.scss */
  html .searchbox input {
    width: 50px;
    margin-top: 5px;
  }
  /* line 33, ../../scss/modules/lt900.scss */
  html .header {
    margin-top: 0;
  }
  /* line 35, ../../scss/modules/lt900.scss */
  html .header .searchbox {
    width: 100px;
    margin-right: 4px;
  }
  /* line 39, ../../scss/modules/lt900.scss */
  html .header .innerheader {
    padding: 0;
  }
  /* line 42, ../../scss/modules/lt900.scss */
  html .header .searchbox input {
    width: 95px;
  }
  /* line 46, ../../scss/modules/lt900.scss */
  html .header .searchbox {
    padding-top: 2px;
  }
  /* line 52, ../../scss/modules/lt900.scss */
  html #navigation {
    padding-top: 0;
  }
  /* line 56, ../../scss/modules/lt900.scss */
  html #navigation .hamburger-icon {
    z-index: 1000;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 0;
    line-height: 0;
    padding: .75rem .5rem;
    margin-top: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    /* No support for these yet, use at own risk */
    -o-user-select: none;
    user-select: none;
    border: none;
  }
  /* line 75, ../../scss/modules/lt900.scss */
  html #navigation .hamburger {
    background-color: #333333;
    position: absolute;
    position: absolute;
    right: 60px;
    z-index: 100;
    display: none;
  }
  /* line 89, ../../scss/modules/lt900.scss */
  html #navigation .hamburger .sub-menu {
    display: block;
    position: relative;
    background: none;
    box-shadow: none;
  }
  /* line 96, ../../scss/modules/lt900.scss */
  html #navigation li:first-child {
    display: none !important;
  }
  /* line 101, ../../scss/modules/lt900.scss */
  html #navigation .hamburger a {
    border: none;
  }
  /* line 106, ../../scss/modules/lt900.scss */
  html #navigation ul {
    margin: 0;
    padding: 0.4em 0.4em 1em 0.4em;
    z-index: 1000;
  }
  /* line 112, ../../scss/modules/lt900.scss */
  html #navigation ul {
    display: none;
  }
  /* line 117, ../../scss/modules/lt900.scss */
  html #navigation .hamburger .sub-menu li a,
  html #navigation .hamburger li a {
    font-size: 100%;
    color: #efefef;
    padding: 0.6em 0.6em 0.6em 0.8em;
    margin: 0;
    text-decoration: none;
    font-weight: 300;
    background: #111;
  }
  /* line 131, ../../scss/modules/lt900.scss */
  html #navigation .menu.hamburger li:hover > a {
    background: #222;
  }
  /* line 135, ../../scss/modules/lt900.scss */
  html #navigation .menu.hamburger li:active > a {
    background: #000;
  }
  /* line 139, ../../scss/modules/lt900.scss */
  html #navigation .hamburger .sub-menu {
    padding: 0 0 0.5em 1.5em;
  }
  /* line 143, ../../scss/modules/lt900.scss */
  html #navigation .hamburger li {
    float: none;
  }
  /* line 147, ../../scss/modules/lt900.scss */
  html #navigation .hamburger-icon {
    display: block;
  }
  /* line 151, ../../scss/modules/lt900.scss */
  html #navigation .hamburger-icon:after {
    border-color: #333;
    border-style: solid none double;
    border-width: 4px 0 12px;
    content: " ";
    display: block;
    height: 4px;
    width: 2rem;
  }
}
@media only screen and (max-width: 900px) and (max-width: 600px) {
  /* line 75, ../../scss/modules/lt900.scss */
  html #navigation .hamburger {
    right: 15px;
  }
}
@media only screen and (max-width: 960px) {
  /* line 2, ../../scss/modules/lt960.scss */
  html .container.multi .box {
    width: 32%;
    border: 0;
    padding: 0 1%;
    height: 13em;
  }
  /* line 7, ../../scss/modules/lt960.scss */
  html .container.multi .box.first, html .container.multi .box.multi-first {
    margin-left: 0;
    padding-left: 0;
  }
  /* line 11, ../../scss/modules/lt960.scss */
  html .container.multi .box.last, html .container.multi .box.multi-last {
    margin-right: 0;
    padding-right: 0;
  }
}
