/* line 3, ../../scss/modules/nav.scss */
#navigation {
  line-height: normal;
  overflow: hidden;
  float: right;
  padding-top: 3px;
}
/* line 10, ../../scss/modules/nav.scss */
#navigation ul {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
/* line 16, ../../scss/modules/nav.scss */
#navigation li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 21, ../../scss/modules/nav.scss */
#navigation a {
  color: #555;
  display: block;
  font-size: 110%;
  font-weight: 300;
  line-height: 1.1;
  padding: 6px 0.5em;
  text-decoration: none;
  white-space: nowrap;
  text-transform: uppercase;
}
/* line 32, ../../scss/modules/nav.scss */
#navigation li:last-child a {
  border-right: none;
}
/* line 35, ../../scss/modules/nav.scss */
#navigation > ul a {
  width: auto;
}
/* line 38, ../../scss/modules/nav.scss */
#navigation a {
  float: none;
}
/* line 40, ../../scss/modules/nav.scss */
#navigation a:hover {
  color: #333;
}
/* line 43, ../../scss/modules/nav.scss */
#navigation a:active {
  color: #2200C1;
}
/* line 47, ../../scss/modules/nav.scss */
#navigation #current, #navigation .current-menu-item, #navigation .current-menu-parent {
  border-width: 0;
}
/* line 50, ../../scss/modules/nav.scss */
#navigation #current a, #navigation .current-menu-item a, #navigation .current-menu-parent a {
  color: #333;
  font-weight: 700;
}
/* line 54, ../../scss/modules/nav.scss */
#navigation #current a:hover, #navigation .current-menu-item a:hover, #navigation .current-menu-parent a:hover {
  color: #444;
}
/* line 57, ../../scss/modules/nav.scss */
#navigation #current a:active, #navigation .current-menu-item a:active, #navigation .current-menu-parent a:active {
  color: darkred;
}
/* line 61, ../../scss/modules/nav.scss */
#navigation .menu .sub-menu {
  margin: 0;
  position: absolute;
  width: 170px;
  background-color: #333;
  z-index: 9999;
  padding: 3px 0 10px;
}
/* line 69, ../../scss/modules/nav.scss */
#navigation .sub-menu li {
  float: none;
  position: relative;
}
/* line 72, ../../scss/modules/nav.scss */
#navigation .sub-menu li a {
  border: none;
  padding: 10px 5px 6px 10px;
  font-weight: 300;
  background: none;
  color: #ccc;
  text-shadow: none;
  text-decoration: none;
  font-size: 100%;
  text-transform: inherit;
}
/* line 83, ../../scss/modules/nav.scss */
#navigation .sub-menu li.current-menu-item a {
  color: #eee;
}
/* line 86, ../../scss/modules/nav.scss */
#navigation .sub-menu li a:hover {
  color: #fff;
}
/* line 91, ../../scss/modules/nav.scss */
#navigation ul li:hover > ul {
  display: block;
  margin: 0;
  padding: 0;
}
/* line 96, ../../scss/modules/nav.scss */
#navigation .menu li:hover > a, #navigation ul ul *:hover > a {
  background: #333;
  color: #FFFFFF;
  text-decoration: none;
}

/* Subnav */
/* line 108, ../../scss/modules/nav.scss */
.menu {
  margin-left: 10px;
}
/* line 109, ../../scss/modules/nav.scss */
.menu .sub-menu {
  display: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 3px;
  -webkit-border-radius: 0 2px 2px 2px;
  -moz-border-radius: 0 2px 2px 2px;
  -ms-border-radius: 0 2px 2px 2px;
  -o-border-radius: 0 2px 2px 2px;
  border-radius: 0 2px 2px 2px;
}
