@import 'vars';
@import 'compass/css3';

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  .dashicons {
    height: 1.1em;
    width: 0.85em;
  }
}

.screen-reader-text {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  color: $font-color;
  background: #fff;
  font-size: 120%;
  line-height: $lineheight;
  font-family: $fonts;
}

ul, ol {
  list-style: none;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

small {
  font-size: 90%;
}

.supertitle {
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  font-weight: 300;
  border-bottom: 4px solid $black;
  padding: 0;
  font-size: 150%;
  text-transform: uppercase;
  color: #fff;
  line-height: $lineheight-title;
  font-family: $fonts-title;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  span {
    background: $black;
    padding: 0 0.3em;
  }
  a {
    color: #fff;
    padding: 0.3em 0;
    display: inline;

    &:active {
      color: #fff;
    }
  }

  .cat-link {
    color: $font-color;
    text-transform: lowercase;
    margin-left: 0.2em;

    &:after {
      content: "…";
    }
  }
}

#comments .comments-title {
  font-size: 160%;
}

.site {
  margin-left: $marctv-margin;
  margin-right: $marctv-margin;
  @media screen and (max-width: 600px) {
    margin-left: $marctv-margin-small;
    margin-right: $marctv-margin-small;
  }
}

.appendix {
  padding: 3em 0 0 0;
  background: #fff;
}

.hidden {
  display: none;
}

.section {
  img, video, iframe {
    width: 100%;
  }

  img {
    height: auto;
  }
}

a {
  position: relative;
  color: $marctv-color;
  text-decoration: none;
  transition: color $duration;

  &.inverted {

    color: $font-color;
    outline: none;

    &:active {
      color: #FFF;
    }

    &:hover {
      position: relative;
      color: $marctv-color;
      text-decoration: none;

      .title {

      }
    }
  }
  &:active {
    top: 1px;
  }

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: #444;
  }
}

.section {
  margin: 0 auto;
  width: 960px;
  padding: 0;
  overflow: hidden;
}

.nomargin {
  margin: 0;
}


.title {
  line-height: $lineheight-title;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 130%;
  font-family: $fonts-title;
  transition:color $duration;

}

.headline {
  color: $black;
  color: #fff;
  padding: 0.2em 0.3em;
  display: inline;
  font-weight: 300;
  @include border-radius(2px);
  line-height: $lineheight-title;
}

/* box */

.lead .title {
  font-size: 230%;
}

.rows > li {
  width: 50%;
  float: left;
}




/* pageination */

.nav-paged {
  margin: 1em 0 2em 0;
  padding: 0;

  a:hover {
    text-decoration: none;
  }
  a span {
    background: #fff;
    color: $font-color;
    border: 1px solid $black;
  }
  span {
    font-size: 110%;
    background: $black;
    color: #fff;
    padding: 0.6em 1.6em;
    border: 1px solid $black;
    line-height: 3em;
  }
  a span:hover, .current span {
    background: $font-color;
    color: #fff;
    text-decoration: none;
  }
}

.paged .nav-paged, .archive .nav-paged, .search .nav-paged {
  text-align: center;
  margin-bottom: 2em;
}


html .fullscreenicon {
  opacity: 0.6;
}

.fullwidth {
  padding-top: 2em;
}

.relatedbox {
  background: #fff;
  padding-top: 1em;

  .container {
    margin-bottom: 1em;
  }

  .box {
    margin-bottom: 10px;
  }
}

/* article nav */

.fullwidth .nav-article {
  overflow: hidden;
  margin: 1em 10px;
}

.nav-article {
  font-size: 130%;
  .nav-next, .nav-previous {
    width: 50%;
  }
}

.paged .nav-article .nav-next, .archive .nav-article .nav-next {
  width: 25%;
}

.search .nav-article {
  .nav-next, .nav-previous {
    width: 25%;
  }
}

.archive .nav-article .nav-previous, .paged .nav-article .nav-previous {
  width: 25%;
}

.nav-article {
  .nav-previous {
    float: left;
  }
  .nav-next {
    float: right;
    text-align: right;
  }
}

.tagcloud {
  padding-bottom: 6em;
  text-align: justify;
  font-family: $fonts-title;

  a{
    color: $font-color;

    &:hover{
      color: $marctv-color;
    }
  }
}

.solid {
  background-color: white;
}

.cat-more {
  text-align: center;
}

.bars {
  .box, ul li {
    margin-bottom: 2em;
  }
}

.cat-more a {
  color: $font-color;
  display: block;
  padding: 0.2em 0;
  margin-bottom: 6em;
  margin-top: 1em;
  border-bottom: 1px solid $black;
  &:hover {
    background-color: $font-color;
    color: white;
  }
}

.lastwords {
  /* last but not least */
  background: #111;
  text-align: right;
  padding: 0 10px;
}

.warning {
  background: #eee;
  border: 1px solid #bbb;
  padding: 1em;
  margin-bottom: 1em;
}

/* jetpack */

#marctv div.sharedaddy {
  .sd-title {
    display: none;
  }
  .sd-content {
    float: none;
    width: 100%;
  }
  div.sd-block {
    border: none;
  }
  .share-count {
    background-color: $marctv-color;
  }
}

/* amazon */

a[href*='=087022'] {
  &:before {
    content: "\f174";
    display: inline-block;
    width: 1em;
    font-family: dashicons;
    text-decoration: inherit;
    font-weight: 400;
    font-style: normal;
    -webkit-transition: color $duration ease-in 0;
    transition: color $duration ease-in 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

.page-template-sortbyreview-php .container.morph .box {
  height: 10em;
}

html .yarpp-related {
  margin: 0 ! important;
}

.twitter-tweet-rendered {
  margin: 0 auto;
}

.line {
  border-top: 1px solid $font-color;
  padding-top: 0.5em;
}

.more_link {
  text-decoration: underline;
}

a:hover .more_link {
  color: $marctv-color;
}

