@import 'vars';

/* bigpicture */


body:not(.artdirected) {
  @media only screen and (min-width: 1400px) {
    .entry-content {
      .figure img,
      .bigbox,
      .wp-video-shortcode,
      .marctv-gallery,
      .jqvideo {
        margin-left: -$marctv-margin ! important;
        margin-right: -$marctv-margin ! important;
        width: 100% + $marctv-margin*2 ! important;
      }
    }
  }
}
