@import 'vars';
@import 'compass/css3';

#cancel-comment-reply {
  display: none;
  padding-bottom: 10px;

}

.skiplink:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 3em;
  margin-top: -3em;
}

.commentlist .says {
  display: none;
}

#commentform input {
  margin-bottom: 3px;
  margin-right: 4px;
  padding: 4px;
  width: 320px;
}

#commentform .readnetiquette {
  margin-top: -20px;
  display: block;
}

#commentform #submit {
  float: right;
}

.promoted {
  margin-bottom: 3em;
  margin-top: 1em;
}

#comment_section .comment-reply-link {
  font-size: 85%;
}

#comment_section .comment-reply-link:hover {
  text-decoration: underline;
}

#hsc-btn-hideshow,
#hsc-btn-loadmore{
  margin-left: 0;
  font-family: $fonts-title;
  color: $black;
  font-size: 100%;
  text-decoration: none;
 }

#hsc-btn-hideshow span,
#hsc-btn-loadmore span{
  padding: 0;
}

.hsc-button.hsc-button-hideshow {
  margin-bottom: 2em;
}

.searchform .formbutton,
#commentform #submit,
#hsc-btn-hideshow,
#hsc-btn-loadmore,
.reply a {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: $black;
  line-height: 1;
  padding: 0.6em 1em;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: auto;
  font-family: $fonts-title;

  &:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
  }
}

.move-wordpress-comments {
  margin-top: 1em;
  font-size: 90%;
  color: #bbb;
}

.searchform .formbutton:active,
#commentform #submit:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  @include box-shadow(#aaaaaa 0 0 5px 2px inset, $black 0 1px 0 0);
}

#comments textarea {
  border: none;
  font-family: Consolas, Monaco, monospace;
  line-height: $lineheight;
  padding: 0;
  resize: vertical;
  margin: 0;
  margin: 0;
  font-size: 16px;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 1em;
}

.promoted .reply:hover {
  text-decoration: underline;
}

.promoted .reply {
  color: #2E5393;
}

.comment-respond {
  font-family: $fonts-title;
  background: #333;;
  padding: 2.5%;
  width: 95%;
  margin-bottom: 1.5em;

  .gravatar {

    line-height: 20px;

  }
  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  label em,
  #commentform .subscribe-to-comments label {
    font-weight: 300;
  }

  p {
    margin-top: 10px;
    color: #fff;

    &.red {
      border: 2px solid #8B0000;
      margin-left: 2px;
      padding: 2px;
    }
  }

  label {
    color: #fff;
  }

  .inner {
    margin: 1%
  }
}

.subscribe-to-comments {
  margin-bottom: 10px;
}

.subscribe-to-comments input {
  margin-left: 0;
}

.alignleft {
  float: left;
  padding: 10px 0;
}

.alignright {
  float: right;
  padding: 10px 0;
}

.bottom {
  border-top: 1px dotted #CCC;
}

#commentform p input {
  font-size: 100%;
}

.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;

  p,
  em,
  strong,
  a {
    font-size: 100%;
    line-height: $lineheight;
  }

  #cancel-comment-reply {
    display: block;
    padding-top: 5px;
  }

  pre {
    font-family: monospace;
  }

  #respond {
    margin-left: 0;
  }

  .comment {
    min-height: 100px;
  }

  blockquote {
    background: #ddd;
    padding-bottom: 1px;
    padding-left: 10px;
    padding-top: 7px;
    color: $black;
    font-style: italic;
    position: relative;

    &:after {
      position: absolute;
      top: -19px;
      left: -5px;
      content: "“";
      font-family: serif;
      font-size: 46px;
      color: #aaa;
    }

    p {
      color: #000;
      font-style: italic;
      margin: 0;
    }

  }

  ul {
    font-weight: 400;
    line-height: $lineheight;
    list-style: square;
    margin: 0 0 1em;
    padding: 0;
    text-indent: 0;
  }

  li .children li ul {
    border: 0;
    padding: 0;
    margin: 0 0 0 1.5em;
  }
  li .children li ul li {
    border: 0;
    margin: 0;
    padding: 0 5px;
  }

  .edit-comment-admin-links-no-icon {
    margin-top: 10px;
  }

  li {
    height: 1%;
    margin: 0.5em 0 1em;
    padding: 5px 7px 5px 130px;
    position: relative;
    border-top: 1px dotted #cfcfcf;

    p,
    blockquote,
    pre {
      margin-bottom: 0.5em;
    }

    .pingback {
      padding: 5px 7px 5px 5px;
    }

    .avatar {
      width: 100px;
    }

    .children {
      list-style: none;
      margin: 1em 0 0;
      text-indent: 0;

      li {
        padding: 5px 7px 5px 45px;
      }

      .depth-2,
      .depth-3,
      .depth-4 {
        margin: 0 0 5px;
      }

      .vcard .avatar {
        border: 1px solid #DDD;
        height: 30px;
        left: 0;
        margin-top: 2px;
        width: 30px;
      }
    }

    .comment-author, .pingback .vcard {
      padding: 0 170px 0 0;
    }

    .comment-author a {
      color: $black;
    }

    .comment-author, .comment-meta {
      font-family: $fonts-title;
    }

    .comment-meta {
      line-height: $lineheight;
      position: absolute;
      right: 10px;
      text-align: right;
      top: 7px;
      a {
        color: $black;
        font-size: 80%
      }
    }

    .reply {
      margin-bottom: 3em;
      margin-top: 1em;
    }

    .reply a {
      text-decoration: none;
      padding: 0.3em 1em;
    }

    #cancel-comment-reply-link {
      font-size: 70%;
      font-weight: 300;
      float: right;
      margin-top: 10px;
      color: #aaa;
      display: inline;
      text-decoration: none;

      &:hover {
        color: red;
        text-decoration: none;
      }
    }

    .vcard {
      font-weight: 700;
      line-height: $lineheight;
      margin-bottom: 10px;

      .avatar {
        border: 2px solid #ddd;
        left: 0;
        position: absolute;
        margin-top: 2px;
        z-index: 1;
      }

      cite.fn {
        font-style: normal;
      }

    }

  }

}

#cancel-comment-reply-link {
  display: none;
}

.quicktags-toolbar {
  margin-top: 1em;
  input {
    font-size: 90%;
  }
}

#cancel-comment-reply-link:hover {
  color: darkred;
}


/*
.navigation {
  overflow: hidden;
  padding: 0 10px;
}

.navigation .alignleft,
.navigation .alignright {
  margin-bottom: 10px;
}

.navigation a,
.navigation a:active {
  font-size: 90%;
  color: #000000;
}

.navigation a:hover {
  color: #2E5393;
}

*/

#commentform p {
  overflow: hidden;
}

#cancel-comment-reply {
  display: none;
  padding-bottom: 10px;
}

.commentlist li.byuser .vcard cite.fn:hover,
.commentlist li.byuser .children li.byuser .vcard cite.fn:hover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAPCAMAAAAxmgQeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAGBQTFRF29vbJSUltbW1AQEBxsbGGBgY9PT0WVlZ6enphYWFcnJyrq6uMjIys7Ozqqur9/f39fX29vb2nJyc8/PzwMDAfX19vr6+q6us5OTk0tLSPj4+zMzM7u7ujY2NYmJid3d3KWauyAAAAH1JREFUeNpk0NkSgjAMBdCE2BYEvFRcceH//9KUtlrwPiVnMplMCP+hsrGNmZ8bq1jM1a5MScQ0i93IfynaSG66KPWRDmHfcRLpKpumdJ2aCzW/FuJ2sF7tsZccbjHE++qM3CNbxu6En6F+B9qhNJBLVBju50jw2x+kfAQYAJagDQmTHztnAAAAAElFTkSuQmCC) no-repeat scroll right center transparent;
  background-position: right 3px;
  padding-right: 20px;
}

.commentlist li.byuser .children li .vcard cite.fn,
.commentlist li.byuser .children li .vcard cite.fn:hover {
  background: none;
  padding-right: 0;
}

.commentlist li.byuser .children li.byuser .vcard cite.fn {
  background: none;
  padding-right: 0;
}