@import 'vars';
@import 'compass/css3';

#cancel-comment-reply {
  display: none;
  padding-bottom: 10px;

}

#commentformbox {
  padding: 0.5em;
  //background-color: shade($commentbox-color, 10);
  margin-bottom: 1em;
}



.commentbox {

  @media only screen and (min-width: 1440px) {
    &:before {
      content: "\f101";
      display: block;
      width: 0;
      height: 0;
      font-size: 231px;
      line-height: 1.2;
      font-family: dashicons;
      padding-right: 0.3em;
      text-decoration: inherit;
      font-weight: 400;
      font-style: normal;
      vertical-align: top;
      text-align: center;
      -webkit-transition: color .1s ease-in 0;
      transition: color .1s ease-in 0;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #f7f6f6;
      margin-top: -20px;
    }
  }


  background: $commentbox-color;
  color: $commentbox-fontcolor;
  font-family: $fonts-title;

  .comment-reply-title {
    color: $commentbox-fontcolor;
    font-size: 140%;
    overflow: hidden;
  }

  a {
    color: $commentbox-fontcolor;
    text-decoration: underline;
  }

  a.marctv-moderate-report {
    color: shade($commentbox-fontcolor, $shade_ammount);
  }

  a:hover {
    color: $marctv-color;
  }
}

.skiplink:before {
  content: '';
  display: block;
  position: relative;
  width: 0;
  height: 2em;
  margin-top: -2em;
}

.commentlist .says {
  display: none;
}

#commentform input {
  margin-bottom: 3px;
  margin-right: 4px;
  padding: 4px;
  width: 320px;
}

#commentform .readnetiquette {
  margin-top: 0px;
  display: block;
}

#commentform #submit {
  float: right;
}

.promoted {
  margin-bottom: 3em;
  margin-top: 1em;
}

#comment_section .comment-reply-link {
  font-size: 85%;

}

#comment_section .comment-reply-link:hover {
  text-decoration: underline;
}

#hsc-btn-hideshow,
#hsc-btn-loadmore {
  margin-left: 0;
  font-family: $fonts-title;
  color: $black;
  font-size: 100%;
  text-decoration: none;
}

#hsc-btn-hideshow span,
#hsc-btn-loadmore span {
  padding: 0;
}

.hsc-button.hsc-button-hideshow {
  margin-bottom: 2em;
}

p.comment-subscription-form {
  font-size: 90%;
}

.searchform .formbutton,
#commentform #submit,
#hsc-btn-hideshow,
#hsc-btn-loadmore {
  background-color: shade(#eee, $shade_ammount);
  @include background-image(linear-gradient(shade(#eee, $shade_ammount), shade(#ddd, $shade_ammount)));
  /*
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  */
  border: 1px solid shade(#ccc, $shade_ammount);
  border-bottom: 1px solid shade(#bbb, $shade_ammount);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: $font-color;
  line-height: 1;
  padding: 0.6em 1em;
  text-align: center;
  text-shadow: 0 1px 0 shade(#eee, $shade_ammount);
  width: auto;
  font-family: $fonts-title;

  &:hover {
    background-color: shade(#ddd, $shade_ammount);
    @include background-image(linear-gradient(shade(#dddddd, $shade_ammount), shade(#bbbbbb, $shade_ammount)));
    /*
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    */
    color: $black;
    border: 1px solid shade(#bbb, $shade_ammount);
    border-bottom: 1px solid shade(#999, $shade_ammount);
    cursor: pointer;
    text-shadow: 0 1px 0 shade(#ddd, $shade_ammount);
  }
}

.move-wordpress-comments {
  margin-top: 1em;
  font-size: 90%;
}

.searchform .formbutton:active,
#commentform #submit:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  @include box-shadow(#aaaaaa 0 0 5px 2px inset, $black 0 1px 0 0);
}

#comments textarea {
  border: none;
  line-height: $lineheight;
  resize: vertical;
  margin: 0;
  font-size: 16px;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin-bottom: 0.5em;
}

.promoted .reply:hover {
  text-decoration: underline;
}

.promoted .reply {
  color: #2E5393;
}

.comment-respond {
  font-family: $fonts-title;
  width: 100%;
  margin-bottom: 1.5em;

  .gravatar {

    line-height: 20px;

  }
  a {
    color: $commentbox-fontcolor;
    text-decoration: none;

    &:hover {
      color: $commentbox-fontcolor;
      text-decoration: underline;
    }
  }

  label em,
  #commentform .subscribe-to-comments label {
    font-weight: 300;
  }

  p {
    margin-top: 10px;
    color: $commentbox-fontcolor;

    &.red {
      border: 2px solid #8B0000;
      margin-left: 2px;
      padding: 2px;
    }
  }

  label {
    color: $commentbox-fontcolor;
  }

  .inner {
    margin: 1%
  }
}

.subscribe-to-comments {
  margin-bottom: 10px;
}

.subscribe-to-comments input {
  margin-left: 0;
}

.alignleft {
  float: left;
  padding: 10px 0;
}

.alignright {
  float: right;
  padding: 10px 0;
}

.bottom {
  border-top: 1px dotted #CCC;
}

#commentform p input {
  font-size: 100%;
}

.commentlist {
  list-style: none;
  margin: 0;
  padding: 0;
  text-indent: 0;

  p,
  em,
  strong,
  a {
    font-size: 100%;
    line-height: $lineheight;
  }

  #cancel-comment-reply {
    display: block;
    padding-top: 5px;
  }

  pre {
    font-family: monospace;
  }

  #respond {
    margin-left: 0;
    //background-color: shade($commentbox-color, 10);
    padding: 0;
    overflow: hidden;
    padding-top: 2em;
  }

  .comment {
    min-height: 100px;
  }

  blockquote {
    background: darken($commentbox-color, 5);
    padding-bottom: 1px;
    padding-left: 10px;
    padding-top: 7px;
    color: $commentbox-fontcolor;
    font-style: italic;
    position: relative;

    &:after {
      position: absolute;
      top: -19px;
      left: -5px;
      content: "“";
      font-family: serif;
      font-size: 46px;
      color: $commentbox-fontcolor;
    }

    p {
      color: $commentbox-fontcolor;
      font-style: italic;
      margin: 0;
    }

  }

  ul {
    font-weight: 400;
    line-height: $lineheight;
    list-style: square;
    margin: 0 0 1em;
    padding: 0;
    text-indent: 0;
  }

  li .children li ul {
    border: 0;
    padding: 0;
    margin: 0 0 0 1.5em;
  }
  li .children li ul li {
    border: 0;
    margin: 0;
    padding: 0 5px;
  }

  .edit-comment-admin-links-no-icon {
    margin-top: 10px;
  }

  li {
    height: 1%;
    margin: 0.5em 0 1em;
    padding: 5px 7px 5px 130px;
    position: relative;
    border-top: 1px dotted shade(#cfcfcf, 50);

    p,
    blockquote,
    pre {
      margin-bottom: 0.5em;
    }

    .pingback {
      padding: 5px 7px 5px 5px;
    }

    .avatar {
      width: 100px;
    }

    .children {
      list-style: none;
      margin: 1em 0 0;
      text-indent: 0;

      .reply {
        margin-bottom: 0em;
      }

      li {
        padding: 5px 7px 2em 75px;
      }

      .depth-2,
      .depth-3,
      .depth-4 {
        margin: 0 0 0;
      }

      .vcard .avatar {
        height: 60px;
        left: 0;
        margin-top: 2px;
        width: 60px;
      }
    }

    .comment-author, .pingback .vcard {
      padding: 0 170px 0 0;
    }

    .comment-author a {
      color: $commentbox-fontcolor;
    }

    .comment-author, .comment-meta {
      font-family: $fonts-title;
    }

    .comment-meta {
      line-height: $lineheight;
      position: absolute;
      right: 10px;
      text-align: right;
      top: 7px;
      a {
        color: $commentbox-fontcolor;
        font-size: 80%;
        text-decoration: none;
      }
    }

    .reply {
      margin-bottom: 3em;
      margin-top: 20px;

    }

    .reply a {
      text-decoration: none;
      font-size: 90%;
      color: $marctv-color;

      &:hover {
        text-decoration: underline;
      }
    }

    #cancel-comment-reply-link {
      font-size: 70%;
      font-weight: 300;
      float: right;
      margin-top: 0;
      color: $font-color;
      display: inline;
      text-decoration: none;
      text-indent: -1000em;

      &:after {
        content: "\f335";
        font-size: 200%;
        font-family: dashicons;
        text-indent: 0;
        float:right;
        line-height: 1;
      }

      &:hover {
        color: red;
        text-decoration: none;
      }
    }

    .vcard {
      font-weight: 700;
      line-height: $lineheight;
      margin-bottom: 10px;

      .avatar {
        border: none;
        left: 0;
        position: absolute;
        margin-top: 2px;
        z-index: 1;
      }

      cite.fn {
        font-style: normal;
        font-size: 110%;

        a {
          text-decoration: none;
        }
      }

    }

  }

}

#cancel-comment-reply-link {
  display: none;
}

#commentform .quicktags-toolbar {
  margin-top: 1em;

  input {
    font-size: 90%;
    margin: 0.5em 0.4em;
    width: inherit;
  }
}

#cancel-comment-reply-link:hover {
  color: darkred;
}

/*
.navigation {
  overflow: hidden;
  padding: 0 10px;
}

.navigation .alignleft,
.navigation .alignright {
  margin-bottom: 10px;
}

.navigation a,
.navigation a:active {
  font-size: 90%;
  color: #000000;
}

.navigation a:hover {
  color: #2E5393;
}

*/

#commentform p {
  overflow: hidden;
}

#cancel-comment-reply {
  display: none;
  padding-bottom: 10px;
}


.commentlist li.byuser .children li .vcard cite.fn,
.commentlist li.byuser .children li .vcard cite.fn:hover {
  background: none;
  padding-right: 0;
}

.commentlist li.byuser .children li.byuser .vcard cite.fn {
  background: none;
  padding-right: 0;
}