@import 'vars';
@import 'compass/css3';

.container {
  margin-bottom: 3em;
  margin-left: 0;
  overflow: hidden;

  .box {

    display: inline;
    float: left;
    overflow: hidden;
    display: block;
    margin-bottom: 50px;

    a:hover {
      color: $black;
    }

    .supertitle a:hover {
      color: #fff;
    }

    p {
      margin-bottom: 2em;
    }

  }

  &.bars.docked,
  &.docked,
  &.bars.docked .box {
    margin-bottom: 0;
  }

  &.lead .box {
    width: 100%;
  }
  &.double .box {
    width: 47.9%;
    padding: 0%;
    margin: 0 2%;
    border: 0;
  }
  &.six {
    .title {
      font-size: 130%;
    }

    .box {
      width: 31.2%;
      padding: 0%;
      margin: 0 1.6%;
      border: 0;
      height: 20em;
    }

    .box.multi-first,
    .box.first {
      margin-left: 0;
      padding-left: 0;
    }

    .box.multi-last,
    .box.last {
      margin-right: 0;
      padding-right: 0;
    }

  }
  &.multi {
    .box {
      width: 14%;
      border: 0;
      margin: 0 1.6%;
      font-size: 80%;
      margin-bottom: 10px;
    }
    .title {
      height: 3em;
      font-size: 100%;
    }
  }
  &.morph .title {
    height: 2em;
  }
  &.morph .box {
    width: 31.2%;
    border: 0;
    margin: 0 1.6%;
    height: 20em;
    &.first, &.multi-first {
      margin-left: 0;
      padding-left: 0;
    }
    &.last, &.multi-last {
      margin-right: 0;
      padding-right: 0;
    }
    p {
      height: 6em;
    }
  }

  .box {
    width: 31.2%;
    border: 0;
    margin: 0 1.6%;
    &.first {
      margin-left: 0;
      padding-left: 0;
    }
    &.last {
      margin-right: 0;
      padding-right: 0;
    }
  }
}

