@import 'vars';

/* article */

.main-content {
  margin-top: 2em;
}

.meta {
  margin-bottom: 0;
  color: lighten($font-color, 25);
  font-size: 80%;
  font-family: $fonts-title;

  a {
    color: lighten($font-color, 25);
  }
}

.entry {
  overflow: visible;
  font-size: 110%;

  &.section {
    overflow: initial;
  }

  cite {
    font-style: italic;
    color: lighten($font-color, 25);
    display: block;
    font-size: 70%;
  }

  dd {
    margin-left: 2em;
    margin-bottom: 2em;
    color: $font-color;
  }

  dt {
    border-bottom: 1px solid $font-color;
  }

  figure a,
  .figure a,
  .wp-caption-text a,
  a.shortscore-link {
    border-bottom: none;

    &:hover {
      color: $font-color;
      text-decoration: none;
      border-bottom: none;
    }
  }

  a {
    transition:color $duration, border-bottom $duration;
    text-decoration: none;
    border-bottom: 1px solid #aaa;
    color: $font-color;

    &:hover {
      color: $marctv-color;
      text-decoration: none;
      border-bottom: 1px solid $marctv-color;
    }
  }

  .wp-caption-text, .pictext {
    font-size: 85%;
    font-style: italic;
    text-align: center;
    color: $black;
    padding: 0 0.5em 0.4em;
    display: block;
  }

  .wp-caption {
    margin: 0;
    /* background: $grey; */
  }

  .title {
    font-size: 260%;
    margin-top:0;
  }

  p, ul, ol, .video, .marctv-gallery, .wp-video, .figure, pre {
    margin-bottom: 1.5em;
  }

  pre, code {
    font-family: "Courier New", Monospace;
    white-space: normal;
    background: $black;
    color: #fff;
    padding: 0.5em;;
  }

  ol li, ul li {
    margin-bottom: 0.5em;
  }

  blockquote {

    p {
      font-size: 140%;
      color: $font-color;
      font-family: Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;

      a {
        color: $font-color;
      }
      cite a {
        color: #666;
      }

    }
    cite:before {
      content: " — ";
    }

    &.alignleft {
      margin-top: 0;
    }

  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.2em;
    clear: both;
    font-family: $fonts-title;
  }

  h2, h3, h4, h5, h6 {
    font-size: 140%;
    margin-top: 2em;
    font-weight: 700;
  }

  h3 {
    font-size: 115%;
  }

  ul {
    list-style: square;
    margin-left: 1.1em;
  }

  ol {
    list-style: decimal;
    margin-left: 1.5em;
  }

  table {
    font-size: 85%;
  }



  .alignright {
    float: right;
    margin: 0.3em 0 0.5em 1em;
    width: 33%;
    padding: 0;

  }

  blockquote.alignright {
    margin-top: 0;
  }

  .alignleft {
    float: left;
    padding: 0;
    margin: 0.3em 1em 0.5em 0 ! important;
    width: 33%;
  }

}

.tools {
  border-top: 1px solid $black;
  padding-top: 0.5em;
  margin-bottom: 0;
  color: $font-color;
  font-size: 90%;
  line-height: $lineheight;
  font-family: $fonts-title;

  .tags {
    a {
      color: $font-color;
      border-bottom: none;

      &:hover {
        color: $marctv-color;
      }
    }
  }

  .hlist {
    font-size: 90%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    margin: 0;
  }

  li {

  }

  .nav-article-tool {
    overflow: hidden;
  }

  a {
    color: $font-color;
  }

  .breadcrumb span {
    font-style: italic;
  }

  li {
    margin-bottom: 0.5em;
  }
}

body:not(.artdirected) {
  .entry {
    .inner {
      .figure:not(.alignright):not(.alignleft),
      .marctv-gallery {
        // margin-left: -$marctv-margin;
        // margin-right: -$marctv-margin;
        @media screen and (max-width: 600px) {
          // margin-left: 0;
          // margin-right: 0;
        }
      }
    }
  }
}
