@import 'vars';

/* article */

.entry.section {
  overflow: initial;
}
.entry {
  overflow: visible;
  font-size: 110%;

  cite {
    font-style: italic;
    color: $darkgrey;
  }

  dd {
    margin-left: 2em;
    margin-bottom: 2em;
    color: $darkgrey;
  }

  dt {
    border-bottom: 1px solid $darkgrey;
  }

  .wp-caption-text, .pictext {
    font-size: 85%;
    font-style: italic;
    text-align: center;
    color: $black;
    padding: 0 0.5em 0.4em;
    display: block;
  }
  .wp-caption {
    margin: 0;
    background: $grey;
  }
  .title {
    font-size: 260%;
    font-weight: 700;
    margin-top: 0.5em;
  }
  p, ul, ol, .video, .marctv-gallery, .figure {
    margin-bottom: 1.5em;
  }
  ol li, ul li {
    margin-bottom: 0.5em;
  }
  blockquote p {
    font-size: 120%;
    color: #333;
    font-family: Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  }
  blockquote p a {
    color: #666;
  }
  blockquote {
    border-left: 2px solid #333;
    padding-left: 0.5em;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.3em;
    clear: both;
  }
  h2, h3, h4, h5, h6 {
    font-size: 140%;
    font-weight: 700;
    margin-top: 2em;
  }
  h3 {
    font-size: 115%;
  }
  ul {
    list-style: square;
    margin-left: 1.1em;
  }
  ol {
    list-style: decimal;
    margin-left: 1.5em;
  }

  .gallery-item {
    float: left;
    margin-right: 0.3%;
    width: 33%;
  }

  .js .gallery-item {
    float: none;
    margin-right: 0;
  }

  .alignright {
    float: right;
    margin: 0.3em 0 0.5em 1em ! important;
    width: 33%;
    padding: 0;
  }

  .alignleft {
    float: left;
    padding: 0;
    margin: 0.3em 1em 0.5em 0 ! important;
    width: 33%;
  }

}

.tools {
  border-top: 1px solid $black;
  padding-top: 0.5em;
  margin-bottom: 1em;
  color: $darkgrey;
  font: 90% / 1.6 "Roboto", "Lucida Grande", "Lucida Sans Unicode", Arial, FreeSans, sans-serif;


  .hlist {
    font-size: 90%;
    list-style: none;
    margin: 0;
    overflow: hidden;
    margin: 0;
  }

  li {

  }

  .nav-article-tool {
    overflow: hidden;
  }

  a {
    color: $darkgrey;
  }

  .breadcrumb span {
    font-style: italic;
  }

  li {
    margin-bottom: 0.5em;
  }
}



body:not(.artdirected) {
  .entry {
    .inner {
      .figure,
      .marctv-gallery{
        margin-left: -$marctv-margin;
        margin-right: -$marctv-margin;
        @media screen and (max-width: 600px) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}
