@import 'vars';
@import 'compass/css3';
@import 'mixins';

.header .innerheader {
  //@include header-dark-gradient(#0e7dc4);
}

/*
.category-leben .header .innerheader {
  @include header-dark-gradient(#3e4c1e);
}

.category-spiele .header .innerheader {
  @include header-dark-gradient(#FF2624);
}

.category-tech .header .innerheader {
  @include header-dark-gradient(#2F4F4F);
}

.category-medien .header .innerheader {
  @include header-dark-gradient(#400945);
}
*/

.header {

  #content .searchbox input {
    font-size: 140%;
    margin-top: 0.5em;
  }



  .sitelogo {
    width: 160px;
    float: left;

    a {
      background: url('images/marctv-logo.png') no-repeat 0 0;
      /* background: rgba(0, 0, 0, 0) url('images/marctv_logo.svg') no-repeat 0 0; */
      display: block;
      height: 38px;
      margin: 0;
      padding: 0;
      text-indent: -5000em;
      width: 170px;
      margin-top: 0px;
    }

    @media(-Webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 2dppx), /* The standard way */
    (min-resolution: 192dpi) /* dppx fallback */
    {
      a {
        background: url('images/marctv-logo-2x.png') no-repeat 0 0;
        background-size: 155px 36px;
      }

    }
  }

  .innerheader {
    background-color: white;
    width: 100%;
    z-index: 10000;
    padding-top: .5em;
    padding-bottom: .3em;
    border-bottom: none;
    border-bottom: 1px solid white;
    border-color: white;
    transition: border-color $duration ease-out, box-shadow $duration ease-out;

  }

  .is-sticky .innerheader {
    border-bottom: 1px solid #d2d2d2;
    border-color: #d2d2d2;
    @include box-shadow(0 0 15px rgba(0,0,0,.3));
  }

  .searchbox {
    float: right;
    width: 140px;
    padding-top: 3px;
  }

  .search {

    position: relative;
    color: #aaa;
    font-size: 16px;

    input {
      width: 140px;
      font-size: 90%;
      height: 32px;
      background: #fcfcfc;
      border: 1px solid #d2d2d2;
      border-radius: 5px;
     // box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
      text-indent: 32px;
      transition: width $duration ease-out;

      &:focus {
        width: 500px;
      }
    }

    .dashicons-search {
      position: absolute;
      top: 6px;
      left: 10px;
      color: #aaa;
    }
  }
}
