@import 'vars';
@import 'compass/css3';


.category-leben .header .innerheader {
  background-color: #87A941;
}

.category-spiele .header .innerheader {
  background-color: #A91E1F;
}

.category-tech .header .innerheader {
  background-color: #2F4F4F;

}

.category-medien .header .innerheader {
  background-color: #6A2870;
}

.header {

  .searchbox {
    .dashicons-search {
      color: #fff;
      font-size: 130%;
    }

    input {
    font-size: 90%;
    width: 140px;
  }
  }

  #content .searchbox input {
    font-size: 140%;
    margin-top: 0.5em;
  }

  margin-bottom: 2em;

  .sitelogo {
    width: 160px;
    float: left;

   a {
      background: url('images/marctv-logo-bw-outline.png') no-repeat 0 0;
      /* background: rgba(0, 0, 0, 0) url('images/marctv_logo.svg') no-repeat 0 0; */
      display: block;
      height: 38px;
      margin: 0;
      padding: 0;
      text-indent: -5000em;
      width: 170px;
      margin-top: 0px;
    }

    @media
    (-Webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 2dppx), /* The standard way */
    (min-resolution: 192dpi) /* dppx fallback */  {
     a {
        background: url('images/marctv-logo-bw-2x-outline.png') no-repeat 0 0;
        background-size: 155px 36px;
      }

    }
  }

  .innerheader {
    background-color: $black;
    width: 100%;
    z-index: 10000;
    padding-top: .4em;
    padding-bottom: .3em;
    border-bottom: shade($black,30);
    //@include box-shadow(#333 0 0 2px);

  }

  .searchbox {
    float: right;
    width: 140px;
    padding-top: 2px;
  }

  .searchbox input {
    width: 140px;
    padding: 1px;
    float: right;
    margin-right: 4px;
    padding: 0 10px;
    height: 30px;
    color: #bbb;
    //text-shadow: 1px 1px 1px black;
    //background: rgba(0, 0, 0, 0.16);
    background: #fff;
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  }
}
