.comments-title .dashicons {
  font-size: 100%;
  line-height: 1.3;
  padding-right: 0.2em;
}

.link_to_comments .dashicons {
  font-size: 120%;
  text-decoration: none;
  padding-right: 0.2em;
  line-height: 1.6;
}


.supertitle .dashicons {
  padding-left: 0;
  padding-right: 0.2em;
  text-decoration: none;
  width: auto;
  font-size: 100%;
  line-height: 1.2;
}