@import "compass/css3";

html .article-header {

  @media only screen and  (min-width : 700px) {


    img:active {
      opacity: 1;
    }
    /*
    &:active .article-box-wrapper {
      @include transition(all 0.1s ease-out);
      position: relative;
      opacity: 0;
      top: 50px;
    }


    .article-box-wrapper {
      opacity: 1;
      top: 0;
    }
    */
  }

  overflow: hidden;
  position: relative;
  display: block;

  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .article-img {
    background: black;
  }

  img {
    @include transition(opacity 0.1s linear);
    width: 100%;
    height: auto;
    opacity: 0.85;
    display: block;
  }



  .article-box {
    position: absolute;
    zoom: 1;
    font-size: 400%;
    bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 960px;
    color: white;
    background: none;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    @include text-shadow(black 2px 2px 6px);
    padding: 0;

    .article-title {
      line-height: 1.2;
      font-weight: 700;
    }
  }


  .meta {
    font-size: 27%;
    color: white;
    a {
      color: white;
    }
  }

}

