@import "compass/css3";
@import 'vars';

html .article-header {

  overflow: hidden;
  position: relative;
  display: block;

  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;

  .article-img {
    background: black;
  }

  img {

    width: 100%;
    height: auto;
    display: block;
  }

  .article-box {
    position: absolute;
    zoom: 1;
    font-size: 300%;
    bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 960px;

    .article-title {
      line-height: 1.2;
      font-weight: 700;
      color: $font-color;
      display: inline;
      background: white;
      //background: rgba(255,255,255,0.8);
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.6rem;
    }

    .article-title, .meta {
        margin-top: 0.5em;
    }
  }


  .meta {
    font-size: 27%;
    color: white;

    .link_to_comments {

    }

    a {
      color: white;
    }

    small {
      background: #333;
      //background: rgba(51,51,51,0.8);;
      padding: 0.4rem;
      color: white;
    }
  }

}

