@import 'vars';

@media only screen and (max-width: 600px) {
  html {

    body {
      font-size: 90%;
    }

    .dashicons {
      font-size: 130%;
    }

    .hreview {
      .rating {
        width: 100%;
      }
      .text {
        width: 100%;
      }
    }
  }

  #commentform {
    .comment-form-email,
    .comment-form-author,
    .comment-form-url {
      input {
        width: 97%;

      }
    }

    label {
      display: block;
    }
  }

  #marctv .article-wrapper {
    width: 100%;
    margin: 0 auto;
  }

  /*
    body:not(.artdirected) {
        .entry-content {
          .figure img,
          .marctv-gallery,
          .jqvideo {
            margin-left: -$marctv-margin/4 ! important;
            margin-right: -$marctv-margin/4 ! important;
            width: 100% + ($marctv-margin/4)*2 ! important;

          }
        }
    }

*/


  html {
    .archive .nav-article {
      .nav-next, .nav-previous {
        width: 50%;
        margin-bottom: 20px;
      }
    }
    .lead {

      .box {
        margin-bottom: 0;
      }

      .title {
        font-size: 120%;
      }

      p {
        margin-bottom: 2em;
      }
    }
    .entry .title {
      font-size: 170%;
    }
    .box .title {
      font-size: 140%;
    }
  }

  #marctv .container .box {
    width: 100%;
    float: none;
    padding: 0;
  }

  #marctv .container.small .box {
    width: 31.2%;
    border: 0;
    padding: 0 1.6%;
    float: left;

    &.first {
      margin-left: 0;
      padding-left: 0;
    }
    &.last {
      margin-right: 0;
      padding-right: 0;
    }

    .title {
      font-size: 80%;
    }

  }

  html .commentlist {

    .comment-meta {
      a:first-child:before {
        content: "# ";
      }
      span {
        display: none;
      }
    }
    li {
      border-top: 1px dotted $black;
      padding-left: 0;
      .vcard {
        .avatar {
          width: 2em;
          height: 2em;
        }
        padding-left: 2.5em;
      }
      .comment-author {
        padding-bottom: 0.5em;
      }
    }
    .pingback .vcard {
      padding-bottom: 0.5em;
    }
    li .children {

      background-image: url('images/left-stroke.gif');
      background-repeat: repeat-y;

      .vcard .avatar {
        left: 1em;
        width: 2em;
        height: 2em;
      }
      li {
        padding-left: 1em;
      }
    }
  }
  #marctv .container {

    &.multi {
      .box {
        height: 13em;
      }
    }

    &.multi {
      .title {
        font-size: 120%;
      }
    }

    &.multi .box,
    &.double .box,
    &.morph .box {
      .title {
        font-size: 110%;
      }
      width: 48%;
      border: 0;
      padding: 0 2%;
      float: left;

    }
    &.multi .box:nth-child(odd), &.morph .box:nth-child(odd), &.double .box.first {
      margin-left: 0;
      padding-left: 0;
    }
    &.multi .box:nth-child(even), &.morph .box:nth-child(even), &.double .box.last {
      margin-right: 0;
      padding-right: 0;
    }
    &.morph .box p {
      height: 6em;
    }
  }

  /* last comments and related */
  #marctv {
    .container.last-commented.multi,
    .relatedbox .container {
      img,
      .info {
        display: none;
      }

      .box,
      .box.first,
      .box.last,
      .box.multi-first,
      .box.multi-last {
        height: auto;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-left: 0.5em;
        border-left: 1px solid $black;
        margin-bottom: 1em;
        white-space: normal;

      }

      .title {
        height:auto;
      }

      a{
        font-size: 130%;
      }

    }
  }
}