@import 'vars';

@media only screen and (max-width: 700px) {

  #tagnav {
    display: none;
  }

  #marctv .entry .alignright,
  #marctv .entry .alignleft {
    float: none;
    margin: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 1.5em;
  }

  #marctv .article-header {

    overflow: hidden;
    position: static;

    .article-image {
      background: transparent;
    }

    img {
      opacity: 1;
    }

    .article-box-wrapper {

      .article-box {

        position: static;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        padding:0;

        margin-left: $marctv-margin;
        margin-right: $marctv-margin;
        margin-top: 0.3em;

        .article-title {
          text-shadow: none;
          color: $font-color;
          font-size: 80%;
        }

        .article-title, .meta {
          background: none;
          color: $font-color;
          padding: 0;
          display: block;

        }
      }



      .meta {

        small {
          background: none;
          padding: 0;
          color: $font-color;
        }

        text-shadow: none;

        color: $font-color;

        a {
          color: $font-color;
          text-shadow: none;
        }
      }
    }
  }

}