@import 'vars';
@import 'compass/css3';
@media only screen and (max-width: 900px) {

  html {
    #marctv .container {
      &.multi .box {
        height: 13em;
      }
    }
    .header .sitelogo {
      a {
        background-size: 120px auto;
        width: 135px;
        margin-top: 6px;
      }

      width: 130px;
      margin-top: 5px;
    }

    .searchbox {
      input {
        width: 50px;
        margin-top: 5px;
      }

      width: 60px;
      margin-top: 3px;

    }

    .header {
      margin-top: 0;
      .searchbox {
        width: 95px;
        margin-right: 4px;
      }
      .innerheader {
        padding: 0;
      }
      .searchbox input {
        width: 95px;
      }

      .searchbox {
        padding-top: 0px;
      }
    }

    #navigation {

      padding-top: 0;

      .hamburger {
        //@include box-shadow(#000 0 10px 30px);
        background-color: $black;
        position: absolute;
        position: absolute;
        right: 0;
        width: 100%;
        z-index: 100;
        display: none;
        padding-bottom: 5em;
        padding-top: 1em;

        @media screen and (max-width: 600px) {
          right: 0;
        }
        .sub-menu {
          display: block;
          position: relative;
          background: none;
          box-shadow: none;
          padding: 0 0 0.5em 1.5em;
          margin: 0;
        }

        li:first-child {
          display: none ! important;
        }

        a {
          border: none;

        }
        ul {
          margin: 0;
          padding: 0.4em 0.4em 1em 0.4em;
          z-index: 1000;
        }

        ul {
          display: none;
        }

        .sub-menu li a,
        li a {
          font-size: 100%;
          color: #efefef;
          padding: 0.6em 0.6em 0.6em 0.8em;
          margin: 0;
          text-decoration: none;
          font-weight: 300;

        }
      }

      .hamburger li {
        float: none;
      }

      .hamburger-icon {
        z-index: 5000;
        width: 30px;
        display: block;
        font-size: 38px;
        line-height: 1;
        color: white;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        &.active:hover {
          color: white;
        }
        &.active {
          color: white;
          background-color: $black;
        }
        &:active {
          color: white;
          background-color: $black;
        }
      }

    }
  }


  #marctv {

    .container {
      &.six {

        .box{
          width: 48%;
          border: 0;
          padding: 0 2%;
          float: left;

        }

       .box:nth-child(odd) {
          margin-left: 0;
          padding-left: 0;
        }
        .box:nth-child(even) {
          margin-right: 0;
          padding-right: 0;
        }


      }


    }

  }

}