@media only screen and (max-width: 960px) {
  html .container.multi .box {
    width: 32%;
    border: 0;
    padding: 0 1%;
    height: 13em;
    &.first,&.multi-last {
      margin-left: 0;
      padding-left: 0;
    }
    &.last, &.multi-first  {
      margin-right: 0;
      padding-right: 0;
    }
  }

  /* last comments */
  .container.last-commented.multi {
    img {
      display: none;
    }

    .box,
    .box.first,
    .box.last,
    .box.multi-first,
    .box.multi-last {
      height: auto;
      margin-bottom: 1em;
      white-space: normal;

    }

    .title {
      font-size: 130%;
    }


  }

}