@media only screen and (max-width: 960px) {
  html .container.multi .box {
    width: 32%;
    border: 0;
    padding: 0 1%;
    height: 13em;
    &.first, &.multi-first {
      margin-left: 0;
      padding-left: 0;
    }
    &.last, &.multi-last {
      margin-right: 0;
      padding-right: 0;
    }
  }
}