@import 'vars';

#navigation .hamburger-icon {
  display: none;
}

@media only screen and (max-width: 1054px) {
  html .section {
    width: 100%;
  }

  html .article-header {

    .article-box-wrapper {

      .article-box {

        margin-left: $marctv-margin;
        margin-right: $marctv-margin;
        width: 90%;

      }
    }
  }
}

@import 'modules/lt320.scss';
@import 'modules/lt600.scss';
@import 'modules/lt700.scss';
@import 'modules/lt900.scss';
@import 'modules/lt960.scss';
@import 'modules/gt1200.scss';


