@import 'vars';

#navigation .hamburger-icon {
  display:none;
}

@media only screen and  (max-width : 1054px)  {
  html .section{
    width: 100%;
  }

  html .article-header .article-box {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }
}

@import 'modules/lt320.scss';
@import 'modules/lt600.scss';
@import 'modules/lt700.scss';
@import 'modules/lt900.scss';
@import 'modules/lt960.scss';
@import 'modules/gt1200.scss';


