@import 'compass/css3';

#navigation {
  
  line-height: normal;
  overflow: hidden;
  float: right;
  padding-top: 3px;
  
  ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  li {
    float: left;
    margin: 0;
    padding: 0;
  }
  a {
    color: #555;
    display: block;
    font-size: 110%;
    font-weight: 300;
    line-height: 1.1;
    padding: 6px 0.5em;
    text-decoration: none;
    white-space: nowrap;
    text-transform: uppercase;
  }
  li:last-child a {
    border-right: none;
  }
  > ul a {
    width: auto;
  }
  a {
    float: none;
    &:hover {
      color: #333;
    }
    &:active {
      color: #2200C1;
    }
  }
  #current, .current-menu-item, .current-menu-parent {
    border-width: 0;
  }
  #current a, .current-menu-item a, .current-menu-parent a {
    color: #333;
    font-weight: 700;
  }
  #current a:hover, .current-menu-item a:hover, .current-menu-parent a:hover {
    color: #444;
  }
  #current a:active, .current-menu-item a:active, .current-menu-parent a:active {
    color: darkred;
  }
  
  .menu .sub-menu {
    margin: 0;
    position: absolute;
    width: 170px;
    background-color: #333;
    z-index: 9999;
    padding: 3px 0 10px;
  }
  .sub-menu li {
    float: none;
    position: relative;
    a {
      border: none;
      padding: 10px 5px 6px 10px;
      font-weight: 300;
      background: none;
      color: #ccc;
      text-shadow: none;
      text-decoration: none;
      font-size: 100%;
      text-transform: inherit;
    }
    &.current-menu-item a {
      color: #eee;
    }
    a:hover {
      color: #fff;
    }
  }
  
  ul li:hover > ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  .menu li:hover > a, ul ul *:hover > a {
    background: #333;
    color: #FFFFFF;
    text-decoration: none;
  }
  
}


/* Subnav */


.menu {
  .sub-menu {
    display: none;
    @include box-shadow(rgba(0, 0, 0, 0.2) 0px 3px 3px);
    @include border-radius(0 2px 2px 2px);
  }
  margin-left: 10px;
}

