@import 'vars';
@import 'compass/css3';

.posts-navigation {
  margin-bottom: 3em;
  overflow: hidden;
}

html #tagnav {
  margin-left: 0;
  font-size: 70%;
  margin-top: 0.4em;
  margin-bottom: 0.6em;
  float: left;

  a:first-child {
    padding-left: 0;
  }

  a {
    color: #9E9E9E;
  }

  a:active,
  a:hover {
    color: $black;
  }
}

#navigation,
#tagnav {

  font-family: $fonts-title;

  line-height: normal;
  overflow: hidden;
  float: right;
  padding-top: 0px;

  ul {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  li {
    float: left;
    margin: 0;
    padding: 0;
  }

  a {
    color: $black;
    display: block;
    font-size: 110%;
    font-weight: 300;
    line-height: 1.1;
    padding: 6px 0.8em;
    text-decoration: none;
    white-space: nowrap;
    letter-spacing: 0.05em;
    float: none;

    &:hover {
      color: $marctv-color;

    }
    &:active {
      color: #2200C1;
    }
  }

  li:last-child a {
    border-right: none;
  }
  > ul a {
    width: auto;
  }

  #current, .current-menu-item, .current-menu-parent {
    border-width: 0;
  }
  #current a, .current-menu-item a, .current-menu-parent a {
    font-weight: 700;
    color: #000;
    text-decoration: none;
  }
  #current a:hover, .current-menu-item a:hover, .current-menu-parent a:hover {
    color: #444;

  }
  #current a:active, .current-menu-item a:active, .current-menu-parent a:active {
    color: darkred;
  }

  .menu .sub-menu {
    display: none;
    margin: 0;
    position: absolute;
    width: 200px;
    background-color: $submenu-color;
    z-index: 9999;
    padding: 3px 0 10px;
  }
  .sub-menu li {
    float: none;
    position: relative;

    a {
      border: none;
      padding: 10px 5px 6px 10px;
      font-weight: 300;
      background: none;
      color: #ccc;
      text-shadow: none;
      text-decoration: none;
      font-size: 90%;
      text-transform: inherit;
    }

    &.current-menu-item a {
      color: #eee;
    }

    a:hover {
      color: #eee;

    }
  }

  ul li:hover > ul {
    display: block;
    margin: 0;
    padding: 0;
  }
  .menu li:hover > a, ul ul *:hover > a {
    color: $marctv-color;
  }

}

/* Subnav */
.menu {
  .sub-menu {
    display: none;
    //@include box-shadow(rgba(0, 0, 0, 0.2) 0px 3px 3px);
    //@include border-radius(0 2px 2px 2px);
  }
  margin-left: 10px;
}

.sister-pages {
  overflow: hidden;
  margin-bottom: 2em;
  background: white;
  font-size: 90%;
  border-bottom: 1px solid $black;

  li {

    &:first-child a {

    }

    &.current-menu-item a,
    & a:hover {
      color: white;
      background-color: $black;

    }

    & a:hover {
      text-decoration: none;
    }

    a {
      float: left;
      padding: .5em 1em;
      color: $black;
      font-weight: 300;
      @media only screen and (max-width: 600px) {
        width: 100%;
        margin: 0 $marctv-margin .5em 0;
      }
    }

  }
}
