@import 'vars';

.logged-in {
  .ac-comment-edit {
    position: absolute;
    right: 5em;
    width: 25em;
    top: 0;
    a, span {
      font-size: 14px ! important;
    }

    .comment-ac-save-link {
      font-weight: 700;
    }

    .disabled {
      display: none;
    }
  }
}

html .last-commented {
  margin-bottom: 2em;
}

.comment-teaser,
.marctv-moderate-links,
.cat-more,
.rating,
.nav-article,
.nav-paged,
#bottom {
  font-family: $fonts-title;
}

html {
  /* video player */
  .mejs-container, .mejs-embed, .mejs-embed body, .mejs-container .mejs-controls {
    background: white;
  }

  .mejs-controls,
  .mejs-overlay-loading {
    display: none !important;
  }

}

html .jqvideo .sprite {
  background-image: url('images/video_icons.png');
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  html .jqvideo .sprite {
    background-image: url('images/video_icons2x.png');
  }
}

html .pgntn-page-pagination {
  font-family: $fonts-title;
  font-size: 120%;
  margin-bottom: 3em;
  padding-top: 1em;
  a {
    background: white ! important;
    color: $font-color ! important;
    padding: 0.3rem 1rem !important;
    border: 1px solid $black ! important;
  }
  a:hover {
    background-color: $black !important;
    color: white !important;
    padding: 0.3rem 1rem !important;
    border: 1px solid $black ! important;
  }
  .current {
    background-color: $black !important;
    color: white !important;
    padding: 0.3rem 1rem !important;
    border: 1px solid $black ! important;

  }
  .prev.page-numbers {
    margin-left: 0 !important;
  }

  .prev.page-numbers,
  .next.page-numbers {
    background-color: $black !important;
    color: white ! important;
    border: 2px solid $black ! important;
  }

  .page-numbers {
    font-weight: 300;
  }

  @media only screen and (max-width: 600px) {
    .prev.page-numbers,
    .next.page-numbers {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .pgntn-page-pagination-intro {
    background-color: transparent ! important;
    border: none ! important;
  }

}

.social-buttons .box {
  background: red;
}

a[class^="tag-link-"]::before,
a[rel="tag"]::before,
.tags a::before {
  content: '#';
}

.entry blockquote.promoted-comment p {
  font-size: inherit;
}