@import 'vars';
.logged-in {
  .ac-comment-edit {
    position: absolute;
    right: 5em;
    width: 25em;
    top: 0;
    a,span {
      font-size: 14px ! important;
    }


    .comment-ac-save-link {
      font-weight: 700;
    }

    .disabled {
      display: none;
    }
  }
}

html .last-commented  {
  margin-bottom: 2em;
}

.comment-teaser,
.marctv-moderate-links,
 .cat-more,
.rating,
.nav-article,
.nav-paged,
#bottom {
  font-family: $fonts-title;
}
