@import 'vars';
.logged-in {
  .ac-comment-edit {
    position: absolute;
    right: 5em;
    width: 25em;
    top: 0;
    a,span {
      font-size: 14px ! important;
    }


    .comment-ac-save-link {
      font-weight: 700;
    }

    .disabled {
      display: none;
    }
  }
}

html .last-commented  {
  margin-bottom: 2em;
}

.comment-teaser,
.marctv-moderate-links,
 .cat-more,
.rating,
.nav-article,
.nav-paged,
#bottom {
  font-family: $fonts-title;
}


html .jqvideo .sprite {
  background-image: url('images/video_icons.png');
}

@media only screen
and (-Webkit-min-device-pixel-ratio: 1.5), only screen
and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  html .jqvideo .sprite {
    background-image: url('images/video_icons2x.png');
  }
}