@import "compass/css3/opacity";

.socialbox {
	text-align: center;

	span {
		text-indent: -3000em;
		display: block;
	}

	a {
		font-size: 300%;
	}

	a:hover {
		color: #0e7dc4;
		text-decoration: none;
	}
}